* {
    font-family: "Roboto", serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  ul{
    list-style-type: none;
    text-align: center;
  }

.grid.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header" "navigation" "main"; 
}

#bell{
    width: 25px;
    margin-right: 15px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

#bell path{
    fill: #ffffff;
}

#bell:hover{
    transition: all .2s ease-in-out; 
    transform: scale(1.1);
}

 #notifications {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: small;
}

svg{
    max-width: 50px;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7477bf;
    color: #ffffff;
    padding: 10px;
}

.main-header{
    background-color: #c9c8c8;
}

.headline{
    padding: 5px;
    text-align: center;
    width: 40%;
    background-color: white;
}

#profile-image{
    border-radius: 50%;
    max-width: 40px;
    margin-right: 5px;
}

h1{
    font-size: large;
    font-weight: 100;
    flex-grow: 1;
    
}

h4{
    justify-self: center;
    font-weight: 100;
    font-size: small;
}

.nav {
    grid-area: navigation;
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #4d4c72;
    padding: 8px;
}

.alert{
    background-color: #7477bf;
    color: #ffffff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: small;
}

.alert-banner{
    display: flex;
    justify-content: space-between;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr;
}

.traffic-nav{
    display: grid;
    grid-auto-flow: column;
}

.traffic{
    padding: 10px;
}

.traffic-nav-link{
    padding: 5px;
}

.traffic-nav-link.active{
    background-color: lightgreen;
    color: #ffffff;
    border-radius: 50px;
}

.daily{
    padding: 10px;
}

.mobile {
    padding: 10px;
}

.sec-head {
    padding-left: 20px;
}

/*Social Media*/

.socials{
    display: flex;
    background-color: #ffffff;
}

.social-container{
    display: flex;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid #c9c8c8;
}

.social-image {
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: #7477bf;
}

.social-image path{
    fill: #ffff;

}

.social-text{
    margin-top: 10px;
}

.smname{
    color: #7477bf;
    font-size: small;
}

.social-num{
    font-size: x-large;
    color: gray;
}


/* Members */

.members-container{
    margin: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.profile-image{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.members-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members-text{
    text-align: center;
}

/* Messages */

.form-field, .form-area, .button-primary{
    margin: 10px;
    padding: 10px;
}

.form-field, .form-area {
    background-color: #c9c8c8;
    border-radius: 10px;
}

.button-primary {
    background-color: #7477bf;
    color: #f5f5f5;
    border-radius: 10px;
}


/* Settings */

#settings{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.switches {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.switch-light.switch-ios {
    display: flex;
    flex-basis: 50px;
    justify-content: space-between;
    align-items: center;
  }

  .switch-ios.switch-light > .btn-toggle {
    width: 25%;
  }

  .switch-ios.switch-light input:checked ~ span {
    border-color: #7477bf;
    box-shadow: inset 0 0 0 30px #7477bf;
  }

.settings-button {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

.button-disabled {
    margin: 10px;
    border-radius: 10px;
}

.switch-light.switch-ios > .btn-toggle  {
    justify-self: flex-end;
}

#bnt-lable1, #btn-lable2 {
    width: 65%;
    padding-left: 10px;
    justify-self: center;
    font-weight: 100;
    font-size: small;
    background-color: white;
}




.widget-container{
    display: grid;
    row-gap: 5px;

}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

.image {
    stroke: #f5f5f5;
    max-width: 30px;
    min-width: 30px;
}

/*-----------------------Tablet-------------------*/
@media (min-width: 768px) {
    .grid-container {
    display: grid;
    grid-template-columns: 55px 1fr;
    grid-template-areas: 
    "header header" 
    "navigation main";
    }

    .nav {
        flex-direction: column;
        justify-content: flex-start;
    }

    .main {
        grid-template-columns: 50% 50%;
    }

    .traffic, .main-header, .alert, #socials, .members, .activity, .message,  #settings {
        grid-column: 1 / span 2;
    }

    .daily {
        grid-column: 1 / span 1;
    }

    .mobile {
        grid-column: 2;
    }

    .mobile, .daily {
        padding: 5px;
    }

    .traffic-header {
        display: flex;
        justify-content: space-between;
    }

    #socials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .social-container {
        margin: 10px;
        width: 30%;
        
    }

    .members-container > p {
        margin-left: auto;
    }


    .members-container {
        flex-direction: row;
        justify-content: flex-start;
    }

    .members-text {
        padding: 10px;
        align-items: baseline;
    }

    .sec-head {
        width: 100%;
    }

    #settings {
        display: flex;
    }

    #bnt-lable1, #btn-lable2{
        width: 30%;
    }

    .switch-light.switch-ios {
        justify-content: flex-start;
    }

    .switch-ios.switch-light > span {
        width: 10%;
    }

    .widget-container-full {
        width: 90vw;
        }

    .widget-container-half {
        width: 45vw;
    }
}

/*--------------------Desktop----------------------*/
@media (min-width: 1024px) {

    .headline{
        width: 20%;
    }
    .members, .message {
        grid-column: 1 / span 1;
    }

    .activity, #settings {
        grid-column: 2 / span 2;
    }

    #messageField {
        padding-bottom: 50px;
    }

    #bnt-lable1, #btn-lable2 {
        width: 40%
    }

    .switch-ios.switch-light > span {
        width: 30%;
    }
}