
.grid.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header" "navigation" "main"; 
}

#bell{
    max-width: 40px;
    min-width: 30px;
    justify-self: end;
}

#prof{
    max-width: 50px;
    min-width: 30px;
    padding: 0;
    margin: 0;
    justify-self: right;
}

svg{
    max-width: 50px;
}

.header {
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background-color: #7477bf;
    color: #ffffff;
}

h3{
    justify-self: center;
}

.nav {
    grid-area: navigation;
    display: grid;
    grid-auto-flow: column;
    background-color: #4d4c72;
}

.alert{
    background-color: #7477bf;
}

#bell path{
    fill: #ffffff;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr;
}

.social-container{
    display: grid;
    grid-auto-flow: column;
}

.members-container{
    display: grid;
    justify-items: center;
}

.widget-container{
    display: grid;
    row-gap: 5px;

}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

/*-----------------------Tablet-------------------*/
@media (min-width: 768px) {
    .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "navigation main";
    }

    .main {
        grid-template-columns: 50%;
    }

    .traffic, .social {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
        }
        .widget-container-half {
        width: 45vw;
    }
}

/*--------------------Desktop----------------------*/
@media (min-width: 1024px) {

}